.wsu-news-article {

    .wsu-callout {
        margin-top: 4rem;
    }

    .wp-block-image {

        margin-bottom: 1.75rem;

        &.size-medium {

            display: flex;
            align-items: center;
            justify-content: center;

            margin-left: auto;
            margin-right: auto;
            margin-top: 3rem;
            margin-bottom: 3rem;

            img {
                width: 300px;
                height: auto;
            }

            figcaption {
                max-width: 175px;
                margin-left: 1.5rem;
            }

        }
        
    }
}